{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% render_bundle 'main' %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Styles for this particular page -->
  {% block styles %}{% endblock %}

</head>
<body>

  <!-- Page content, brace yourselves -->
  {% block content %}{% endblock %}

  <!-- Specific scripts for this particular page -->
  {% block scripts %}{% endblock %}


  <footer class="footer">
    <div class="container bg-faded py-4 px-4 d-flex justify-content-between">
      <span class="text-muted">miot 2017</span>
      <span class="text-muted"><a href="https://infinit8.io">INFINIT8</a></span>
    </div>
  </footer>

</body>
</html>
