.cover{
  height: 75vh;
  background-size: cover;
  background-position: 0 15%;
}

.cover h1{
  color: #f8f8f8;
  font-weight: 800;
  font-size: 6em;
  letter-spacing: -8px;
}

.cover p{
  color: #f8f8f8;
  font-size: 1.4em;
}

.cover strong{
  background-color: white;
  color: #222;
  padding: 0px 5px 2px 5px;
}

.filter{
  background-color: rgba(0,0,0,.5);
  height: 100%;
}

#map-canvas {
  min-height: 55vh;
  width: 100%;
}
