{% extends "layout/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}

{% block title %}miot Homepage{% endblock %}

{% block styles %}
  {% render_bundle 'frontend' 'css' %}
{% endblock %}

{% block content %}

<div class="container-fluid cover p-0" style="background-image:url('{% static 'bg.jpg' %}');">
  <div class="filter d-flex flex-column align-items-left justify-content-center">
    <div class="container">
      <div class="col-12">
        <h1>miot</h1>
        <p>A tool for <strong>you</strong> to create <strong>attractive content</strong> for the <strong>physical world</strong>.</p>

        <a href="{% url "dashboard" %}" class="btn btn-info">Create content</a>
        <a href="{% url "dashboard" %}" class="btn btn-info">Discover</a>

      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="container-fluid d-flex flex-column flex-md-row">
    <div class="col-12 col-md-6">
      <p class="text-muted">
        <strong>miot</strong> is a tool for you to propose a unique experience for users,
        visitors and curious people by defining places, events and points of interest and
        attach attractive content to it.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <p class="text-muted">
        It takes two seconds to join by using one of your social accounts and you
        are already ready to create your own points of interest by using your new
        miot dashboard!
      </p>
    </div>
  </div>
</div>

<div class="container-fluid my-4 p-0">
  <div class="col-12 p-0">
    <div id="map-canvas"></div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {% render_bundle 'frontend' 'js' %}
{% endblock %}
