{% extends "page_templates/"|add:ordered_pages.first.template.slug|add:".html" %}

{% block content %}

<style>

body{
  font-size: 18px;
}

.filter{
  background-color: rgba(0,0,0,.5);
}

.default-header{
  color: #f8f8f8;
}
</style>

{% if ordered_pages.count > 1 %}
<!-- Menu if needed (multiple pages) -->
<nav class="navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{poi.name}}</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% for p in ordered_pages %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url "page_detail" poi.slug p.slug %}">{{p.title}}<span class="sr-only">(current)</span></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}


<div class="container-fluid default-header p-0" style="background-image:url('{{poi.featured_image.url}}'); background-size: cover;">
  <div class="filter">
    <div class="container pb-3 pt-4">
      <h1>{{poi.name}}</h1>
      <p>{{poi.category.name}}</p>
    </div>
  </div>

</div>


<div class="container">

  {{poi.page_set.first.content|safe}}


  {% for p in poi.page_set.all %}
  {{p.title}}
  {% endfor %}



  {% for t in poi.tags.all %}
  {{t.name}}
  {% endfor %}



</div>




{% endblock %}
