{% extends "page_templates/"|add:ordered_pages.first.template.slug|add:".html" %}

{% block title %}
{{poi.name}}
{% endblock %}

{% block content %}

{% if ordered_pages.count > 1 %}
<!-- Menu if needed (multiple pages) -->
<nav class="navbar navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{poi.name}}</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% for p in ordered_pages %}
      <li class="nav-item active">
        {% if forloop.first %}
        <a class="nav-link" href="{% url "poi_detail" poi.slug %}">{{p.title}}<span class="sr-only">(current)</span></a>
        {% else %}
        <a class="nav-link" href="{% url "page_detail" poi.slug p.slug %}">{{p.title}}<span class="sr-only">(current)</span></a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}


<div class="container-fluid default-header p-0" style="background-image:url('{{poi.featured_image.url}}'); background-size: cover;">
  <div class="filter">
    <div class="container pb-3 pt-4">
      <h1>{{poi.name}}</h1>
      <p>{{poi.category.name}}</p>
    </div>
  </div>

</div>


<div class="container mt-4 pb-4">

  <div class="content">
    {{poi.page_set.first.content|safe}}
  </div>

  <hr class="mx-3"/>

  <p class="text-muted"><i class="fa fa-eye fa-fw"></i>&nbsp;Visits : {{ hitcount.total_hits }}</p>
  <p class="text-muted"><i class="fa fa-link fa-fw"></i>&nbsp;Short URL : {{ poi.short_url }}</p>

  {% for t in poi.tags.all %}
  <span class="badge badge-default p-2 m-1"><a href="{% url "poi_list" %}?q={{t.name}}&amp;c=all" class="badge-link">{{t.name}}</a></span>
  {% endfor %}


  <hr class="mx-3"/>

  <h4>Similar points of interest</h4>
  <div class="row">
    {% for s in poi.tags.similar_objects|slice:"6" %}
    <div class="col-12 col-md-4 pl-0 ml-0 mt-3">
      <div class="container">
        <div class="card">
          <div class="card-block p-0" style="background-image:url('{{s.featured_image.url}}'); background-size: cover;">
            <div class="card-filter" style="background: rgba(0,0,0,.4); color: #f8f8f8;">
              <div class="p-4">
                <a href="{% url "poi_detail" s.slug %}" style="color: #f8f8f8;"><h4 class="card-title">{{s.name|truncatechars:15}}</h4></a>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <span class="badge badge-default p-2">
              {{s.similar_tags}} similar tags
            </span>
          </div>
        </div>
      </div>
    </div>
    {% empty %}


      <div class="col-12">
        <div class="card text-center p-3">
          <div class="card-content">
            <i class="fa fa-fw fa-frown-o fa-3x text-muted"></i>
            <p><strong>No similar points of interest found.</strong></p>
          </div>
        </div>
      </div>


    {% endfor %}
  </div>

</div>

{% endblock %}
