{% extends "layout/base.html" %}

{% block title %}
Discover places
{% endblock %}


{% block content %}


<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Discover points of interests</h1>
    <p class="lead text-muted">There are so many interesting things to see.</p>
    <form action=""  method="get">
      <div class="form-group row">
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" id="lgFormGroupInput" name="q" placeholder="museum ">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Search</button>
      </div>
    </form>
  </div>
</section>


{% if search %}

<div class="container">
  <div class="row">
    {% for p in object_list %}
    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-block p-0" style="background-image:url('{{p.featured_image.url}}'); background-size: cover;">
          <div class="card-filter" style="background: rgba(0,0,0,.4); color: #f8f8f8;">
            <div class="p-4">
              <h3 class="card-title">{{p.name}}</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="{% url "poi_detail" p.slug %}" class="btn btn-primary">Show</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{p.category.name}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% else %}

<div class="container">
  <div class="row">

    {% for p in object_list|slice:":3" %}
    <div class="col-12 col-md-4 mb-3">
      <div class="card">
        <div class="card-block p-0" style="background-image:url('{{p.featured_image.url}}'); background-size: cover;">
          <div class="card-filter" style="background: rgba(0,0,0,.4); color: #f8f8f8;">
            <div class="p-4">
              <h3 class="card-title">{{p.name}}</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="{% url "poi_detail" p.slug %}" class="btn btn-primary">Show</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{p.category.name}}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="container mt-5">
      <h2>Near you</h2>
    </div>
  </div>
  <div class="row">


    {% if nearPois %}
    {% for p in nearPois|slice:":8" %}
    <div class="col-12 col-md-3 mb-3">
      <div class="card">
        <div class="card-block p-0" style="background-image:url('{{p.featured_image.url}}'); background-size: cover;">
          <div class="card-filter" style="background: rgba(0,0,0,.4); color: #f8f8f8;">
            <div class="p-4">
              <h4 class="card-title">{{p.name|truncatechars:15}}</h4>
              <a href="{% url "poi_detail" p.slug %}" class="btn btn-primary">Show</a>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          {{p.category.name}} - {{ p.distance }}
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="card col-12 py-3">
      <div class="card-block d-flex flex-column align-items-center">
        <i class="fa fa-map-marker text-muted" style="font-size: 5em;"></i>
        <p class="mt-3"><strong>Please share your location to see places near you.</strong></p>
      </div>
    </div>
    {% endif %}

  </div>
</div>



<div class="container">

  <div class="row mt-5">
    <div class="col-12 col-md-8">
      <h2>Top featured places</h2>
      <div class="list-group">
        {% for p in object_list %}
        <a href="{% url "poi_detail" p.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{p.name}}</h5>
            <small class="text-muted">by {{p.creator.user.username}}</small>
          </div>
          <small class="text-muted">
            {% for tag in p.tags.all %}
            {{tag.name}}
            {% endfor %}
          </small>
        </a>
        {% endfor %}
      </div>
    </div>

  <div class="col-12 col-md-4">
    <h2>Top featured places</h2>
    <div class="card">
      <div class="card-block">
        tags in here
      </div>
    </div>
  </div>

  </div>
</div>

{% endif %}


<script>
    // We ask the position
    {% if not nearPois %}
    getLocation();
    {% endif %}


    function getLocation() {
      console.log("LOCATE");
        if (navigator.geolocation) {
          console.log("geoloc");
          navigator.geolocation.getCurrentPosition(function(pos){
              console.log("eh");
              window.location = "/places?lat=" + pos.coords.latitude + "&lon=" + pos.coords.longitude + "{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}";
            });
        } else {
            alert("Please ! Let us use your gps");
        }
    }


</script>


{% endblock %}
