{% extends "layout/base.html" %}


{% load render_bundle from webpack_loader %}

{% block title %}
Discover places
{% endblock %}


{% block content %}


<section class="jumbotron text-center mb-0 p-3">
  <div class="container">
    <form action=""  method="get" class="mt-3">
      <div class="form-group row">
        <div class="col-12">
          <div class="input-group">
            <input type="text" class="form-control" id="lgFormGroupInput" name="q" placeholder="museum" {% for key, value in request.GET.items %}{% if key == 'q' %}value="{{ value }}"{% endif %}{% endfor %}>
            <button type="submit" class="input-group-addon btn-primary"><i class="fa fa-fw fa-search"></i></button>
          </div>
        </div>
      </div>

      <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseMoreFilters" aria-expanded="false" aria-controls="collapseExample">
        More filters
      </button>
      <a href="{% url "poi_map" %}" class="btn btn-primary btn-sm">
        <i class="fa fa-fw fa-globe"></i>&nbsp;Switch to map mode
      </a>

      <div class="collapse pt-2" id="collapseMoreFilters">
        <div class="from-group">
          <select name="c" class="form-control">
            <option value="all" default="">Select category</option>
            {% for c in categories %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

    </form>
  </div>
</section>

<div id="markers" style="display:none;">
  [
  {% for poi in pois %}
  {
    "name": "{{poi.name}}",
    "slug": "{{poi.slug}}",
    "href": "{% url "poi_detail" poi.slug %}",
    "img": "{{poi.featured_image.url}}",
    "position": {
      "lat": "{{poi.position.get_y}}",
      "lon": "{{poi.position.get_x}}"
    }
  }{% if not forloop.last %},{% endif %}
  {% endfor %}
  ]
</div>


<div class="container-fluid p-0">
  <div id="map-canvas" style="min-width: 100%; min-height: 87vh;"></div>
</div>

<script>



{% if not pois %}
getLocation();
{% endif %}


function getLocation() {
  console.log("LOCATE");
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(pos){
      window.location = "/map?lat=" + pos.coords.latitude + "&lon=" + pos.coords.longitude + "{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}";
    });
  } else {
    alert("Please ! Let us use your gps");
  }
}


</script>


{% endblock %}

{% block scripts %}
{% render_bundle 'frontend' 'js' %}
{% endblock %}
