
{% extends "dashboard/base.html" %}

{% block content %}

<style>

.dashboard-top-card{color: #F8F8F8;}
.dashboard-top-card h1{font-size: 3em; font-weight: bold; margin-bottom: 0;}
.dashboard-top-card p{font-size: 1.2em;}
.dashboard-top-row{border-bottom: 2px solid #ccc;}
#map-canvas {
  min-height: 400px;
  width: 100%;
}


</style>



  <div class="col-12 pt-4">

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

    <div class="row dashboard-top-row pb-4">

      <div class="col-12 dashboard-top-card col-sm-3">
        <div class="container card p-0">
          <div class="col-12 d-flex p-3 card-primary">
            <div class="col-2">
              <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-10 d-flex flex-column align-items-end">
              <h1>{{pois.count}}</h1>
              <p>Points of Interest</p>
            </div>
          </div>
          <div class="col-12 py-2">
            <a href="{% url "poi_create" %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Manage Points of interest</a>
          </div>
        </div>
      </div>

      <div class="col-12 dashboard-top-card col-sm-3">
        <div class="container card p-0">
          <div class="col-12 d-flex p-3 card-danger">
            <div class="col-2">
              <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-10 d-flex flex-column align-items-end">
              <h1>{{pages.count}}</h1>
              <p>Unique pages</p>
            </div>
          </div>
          <div class="col-12 py-2">
            <a href="{% url "poi_create" %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Manage Points of interest</a>
          </div>
        </div>
      </div>

      <div class="col-12 dashboard-top-card col-sm-3">
        <div class="container card p-0">
          <div class="col-12 d-flex p-3 card-success">
            <div class="col-2">
              <i class="fa fa-dot-circle-o fa-5x" aria-hidden="true"></i>
            </div>
            <div class="col-10 d-flex flex-column align-items-end">
              <h1>0</h1>
              <p>Visits</p>
            </div>
          </div>
          <div class="col-12 py-2">
            <a href="{% url "poi_create" %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Manage Points of interest</a>
          </div>
        </div>
      </div>

    </div>

    <div class="row my-3">

      <div class="col-8">
        <div class="card">
          <div class="card-header">
            Your Point of Interests Geographically
          </div>
          <div class="card-block p-0">
            <div id="map-canvas" class="bordered"></div>
          </div>
        </div>

      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Activity
          </div>
          <div class="card-block p-0">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Last PointsOf Interests
          </div>
          <div class="card-block p-0">
            <ul class="list-group list-group-flush">
              {% for p in pois %}
              <li class="list-group-item d-flex justify-content-between">
                <a href="{% url "poi_detail" p.slug %}">{{p.name}}</a>
                <div>
                  <a href="{% url "poi_page_update" p.slug %}">Edit pages</a>
                  <a href="{% url "poi_update" p.slug %}">Update</a>
                  <a href="{% url "page_create" p.slug %}">Add page</a>
                  <a href="{% url "poi_delete" p.slug %}">Delete</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="card-footer">
            <a href="{% url "poi_create" %}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create New Points of interest</a>
          </div>
        </di>
      </div>
    </div>



    <div class="col-4 col-xs-12">
      <div class="card">
        <div class="card-header">
          Last Pages
        </div>
        <div class="card-block p-0">
          <ul class="list-group list-group-flush">
            {% for page in pages %}
            <li class="list-group-item d-flex justify-content-between">
              <div>
                {{page.title}} <i class="text-muted">({{page.poi.name}})</i>
              </div>
              <div>
                <a href="{% url "page_delete" page.slug %}">Delete</a>
                <a href="{% url "page_update" page.slug %}">Update</a>
              </div>
            </li>
            {% empty %}
            <li class="list-group-item d-flex flex-column">
              <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
              <p>START CREATING</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer">
          Create page with choose the poi
        </div>
      </di>
    </div>
  </div>


  <div id="markers" style="display:none;">
[
      {% for poi in pois %}
        {
          "name": "{{poi.name}}",
          "slug": "{{poi.slug}}",
          "position": {
            "lat": "{{poi.position.get_y}}",
            "lon": "{{poi.position.get_x}}"
          }
        }{% if not forloop.last %},{% endif %}
      {% endfor %}
]
  </div>



<script type="text/javascript">
function initMap() {

  var styledMapType = new google.maps.StyledMapType([
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
]);



  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 7,
    disableDefaultUI: true,
    fullscreenControl: true,
    zoomControl: true
  });
  var bounds = new google.maps.LatLngBounds();

  var markers = $.parseJSON($("#markers").text())


  $.each(markers, function(index, marker) {

    var info = new google.maps.InfoWindow({
      content: '<h6>' + marker.name + '</h6>',
      maxWidth: 300
    });

    var pos = new google.maps.LatLng(marker.position.lat, marker.position.lon)
    bounds.extend(pos);

    var marker = new google.maps.Marker({
       position: pos,
       map: map,
    });

    marker.addListener('click', function(){
      info.open(map, marker);
    });
  });

  //Associate the styled map with the MapTypeId and set it to display.
  map.mapTypes.set('styled_map', styledMapType);
  map.setMapTypeId('styled_map');
  map.fitBounds(bounds);
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
</script>



{% endblock %}
