{% extends "dashboard/base.html" %}

{% load render_bundle from webpack_loader %}

{% block title %}miot Dashboard{% endblock %}

{% block content %}

<div class="col-12 pt-4">

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <div class="row dashboard-top-row pb-4">

    <div class="col-12 dashboard-top-card col-sm-3">
      <div class="container card p-0">
        <div class="col-12 d-flex p-3 card-warning">
          <div class="col-2">
            <i class="fa fa-podcast fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-10 d-flex flex-column align-items-end">
            <h1>{{nbBeacons}}</h1>
            <p>Registered beacons</p>
          </div>
        </div>
        <div class="col-12 py-2">
          <a href="{% url "poi_manage" %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Manage beacons</a>
        </div>
      </div>
    </div>

    <div class="col-12 dashboard-top-card col-sm-3">
      <div class="container card p-0">
        <div class="col-12 d-flex p-3 card-primary">
          <div class="col-2">
            <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-10 d-flex flex-column align-items-end">
            <h1>{{pois.count}}</h1>
            <p>Points of Interest</p>
          </div>
        </div>
        <div class="col-12 py-2">
          <a href="{% url "poi_manage" %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Manage Points of interest</a>
        </div>
      </div>
    </div>

    <div class="col-12 dashboard-top-card col-sm-3">
      <div class="container card p-0">
        <div class="col-12 d-flex p-3 card-danger">
          <div class="col-2">
            <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-10 d-flex flex-column align-items-end">
            <h1>{{pages.count}}</h1>
            <p>Unique pages</p>
          </div>
        </div>
        <div class="col-12 py-2">
          <a href="{% url "page_manage" %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;Manage pages</a>
        </div>
      </div>
    </div>

    <div class="col-12 dashboard-top-card col-sm-3">
      <div class="container card p-0">
        <div class="col-12 d-flex p-3 card-success">
          <div class="col-2">
            <i class="fa fa-dot-circle-o fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-10 d-flex flex-column align-items-end">
            <h1>{{total_hits}}</h1>
            <p>Unique visits</p>
          </div>
        </div>
        <div class="col-12 py-2">
          <a href="{% url "poi_create" %}"><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;View statistics</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row my-3">

    <div class="col-12 col-sm-8">
      <div class="card">
        <div class="card-header">
          Your Point of Interests Geographically
        </div>
        <div class="card-block p-0">
          <div id="map-canvas" class="bordered"></div>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          Beacons
        </div>
        <div class="card-block p-0">
          <ul class="list-group list-group-flush">

          {% if beacons %}
            {% for b in beacons %}
              <li class="list-group-item"><i class="fa fa-podcast fa-fw"></i>&nbsp;<a href="{% url "beacon_update" b.identifier %}">{{b.identifier}}</a> - {{b.shadow.name}}</li>
            {% endfor %}
          {% else %}
            <li>no be</li>
          {% endif %}

          </ul>
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-12 col-sm-4">
      <div class="card">
        <div class="card-header">
          Last PointsOf Interests
        </div>
        <div class="card-block p-0">
          <ul class="list-group list-group-flush">
            {% for p in pois|slice:":5" %}
            <li class="list-group-item d-flex justify-content-between">
              <a href="{% url "poi_detail" p.slug %}">{{p.name}}</a>
              <div class="btn-group" role="group">
                <button id="btnGroupActionsPoi" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupActionsPoi">
                  <a href="{% url "poi_update" p.slug %}" class="dropdown-item">Update</a>
                  <a href="{% url "poi_page_update" p.slug %}" class="dropdown-item">Edit pages</a>
                  <a href="{% url "page_create" p.slug %}" class="dropdown-item">Add page</a>
                  <a href="{% url "poi_delete" p.slug %}" class="dropdown-item">Delete</a>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer">
          <a href="{% url "poi_create" %}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create New Points of interest</a>
        </div>
      </di>
    </div>
  </div>



  <div class="col-12 col-sm-4 mb-4">
    <div class="card">
      <div class="card-header">
        Last Pages
      </div>
      <div class="card-block p-0">
        <ul class="list-group list-group-flush">
          {% for page in pages|slice:":5" %}
          <li class="list-group-item d-flex justify-content-between">
            <div>
              {{page.title}} <i class="text-muted">({{page.poi.name}})</i>
            </div>

            <div class="btn-group" role="group">
              <button id="btnGroupActionsPoi" type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupActionsPoi">
                <a href="{% url "page_update" page.slug %}" class="dropdown-item">Update</a>
                <a href="{% url "page_delete" page.slug %}" class="dropdown-item">Delete</a>
              </div>
            </div>
          </li>
          {% empty %}
          <li class="list-group-item d-flex flex-column">
            <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
            <p>START CREATING</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="card-footer">
        <a href="{% url "poi_select" %}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create a new page</a>
      </div>
    </di>
  </div>
</div>


<div id="markers" style="display:none;">
  [
  {% for poi in pois %}
  {
    "name": "{{poi.name}}",
    "slug": "{{poi.slug}}",
    "position": {
      "lat": "{{poi.position.get_y}}",
      "lon": "{{poi.position.get_x}}"
    }
  }{% if not forloop.last %},{% endif %}
  {% endfor %}
  ]
</div>
{% endblock %}


{% block scripts %}
<!-- Loading dashboardmap specific scripts -->
{% render_bundle 'dashboardmap' 'js' %}
{% endblock %}
