{% extends "dashboard/base.html" %}

{% block title %}miot - Manage POI{% endblock %}

{% block content %}

<div class="col-12 pt-4">

  <h1>Edit pages for {{poi.name}}</h1>
  <p class="text-muted">You can choose to edit or reorder the pages.</p>


  <ul class="list-group" id="dashPageList">

    {% csrf_token %}

    {% for page in object_list %}

    <li class="list-group-item justify-content-between" data-id="{{page.index}}">
      <div>
        <span class="my-handle"><i class="fa fa-bars fa-fw" aria-hidden="true"></i></span>
        {{page.title}}
      </div>
      <div>
        <span class="badge badge-default badge-pill">{{page.index}}</span>
        <a href="{% url "page_update" page.slug %}" class="btn btn-primary btn-sm">Update</a>
        {% if page.poi.page_set.count == 1 %}
        <span class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="Cannot delete if it's the only page.">
          <a href="#" class="disabled btn btn-primary btn-danger btn-sm">Delete</a>
        </span>
        {% else %}
        <a href="{% url "page_delete" page.slug %}" class="btn btn-primary btn-danger btn-sm">Delete</a>

        {% endif %}
      </div>

    </li>
    {% endfor %}
  </ul>
</div>




{% endblock %}


{% block scripts %}

<script type="text/javascript">
console.log("oksort");
console.log(document.getElementById("dashPageList"));
// List with handle
Sortable.create(document.getElementById("dashPageList"), {
  animation: 200,
  handle: ".my-handle",
  onEnd: function (/**Event*/evt) {
    evt.oldIndex;  // element's old index within parent
    evt.newIndex;  // element's new index within parent

    console.log("Old / New")
    console.log(evt.oldIndex)
    console.log(evt.newIndex)

    $.ajax({
      type:"POST",
      url:"{% url "switch_page_order" %}",
      data: {
        'oldIndex': evt.oldIndex, // from form
        'newIndex': evt.newIndex,
        'poi': {{poi.pk}}
      },
      success: function(){
        location.reload();
      },
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
      }
    });
  },
});

</script>

{% endblock %}
