{% extends "dashboard/base.html" %}

{% block title %}miot - Delete POI{% endblock %}

{% block content %}

<div class="col-12 pt-4">
  <h1>Delete point of interest</h1>
  <div class="alert alert-danger mt-3" role="alert">
    <p><strong>Are you sure</strong> you want to delete {{object.name}}?</p>
    <form action="" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Confirm" />
    </form>
  </div>

  <p>
  <strong>This action will permanently delete the following pages :</strong>
</p>

  <div class="card">
    <div class="card-block p-0">
      <ul class="list-group list-group-flush">
        {% for page in object.page_set.all %}
        <li class="list-group-item d-flex justify-content-between">
          {{page.title}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
