

{% extends "dashboard/base.html" %}

{% load add_css %}

{% block content %}

<style>

.mw-wrap{
  width: 100% !important;
}

</style>

<div class="col-8 mb-5">
  {{form.media}}


  <div class="col-12 d-flex flex-column my-4">
    <h1>Add new Point of Interest</h1>

    <p>You can add a new point of interest through this page.</p>
  </div>

  <div class="col-12">

    <form action="" method="post" enctype="multipart/form-data" novalidate="">
      {% csrf_token %}

      <div class="form-group row {% if form.name.errors %}has-danger{% endif %}">
        {{form.non_fields.errors}}
        <div class="col-9">
          <label for="formGroupExampleInput">Nom</label>
          {{form.name|addclass:"form-control form-control-lg"}}
           <div class="form-control-feedback">{% for e in form.name.errors %}{{e}}{% endfor %}</div>
        </div>
        <div class="col-3">
          <label for="exampleInputFile">Logo</label>
          {{form.featured_image|addclass:"form-control-file"}}
          <div class="form-control-feedback">{% for e in form.featured_image.errors %}{{e}}{% endfor %}</div>
        </div>
      </div>
      <div class="form-group {% if form.position.errors %}has-danger{% endif %}">
        <label for="formGroupExampleInput">Position</label>
        {{form.position}}
        <div class="form-control-feedback">{% for e in form.position.errors %}{{e}}{% endfor %}</div>
      </div>
      <div class="form-group {% if form.tags.errors %}has-danger{% endif %}">
        <label for="formGroupExampleInput">Tags</label>
        {{form.tags|addclass:"form-control"}}
        <div class="form-control-feedback">{% for e in form.tags.errors %}{{e}}{% endfor %}</div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          {{form.active|addclass:"form-check-input"}}
          <div class="form-control-feedback">{% for e in form.active.errors %}{{e}}{% endfor %}</div>
          Active
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>

  </div>
</div>
{% endblock %}
